.gradient {
    height: 100vh;
    background-image: linear-gradient(to bottom left, #ffffff, #292929);
}

.main-button {
    width: 32vw;
}

.text-color {
    color: #a4a4a4 !important;
    text-shadow:3px 3px 5px #4d4d4d;

}

.text-mail {
    color: #a4a4a4 !important;
    font-weight: bold;
    font-size: 30px;
    text-shadow:3px 3px 5px #4d4d4d;

}

.text-back {
    color: #cacaca !important;
    text-shadow:3px 3px 5px #505050;

}


.top-color {
    color: #494949;
}

.box-color {
    background-color: #494949;
}

.angry-animate {
    -webkit-animation: appear 1s ease 0s 1 normal;
    -moz-animation: appear 1s ease 0s 1 normal;
    -ms-animation: appear 1s ease 0s 1 normal;
    animation: appear 1s ease 0s 1 normal;
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    60% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}


.angry-animate-2{
    -webkit-animation:rotate 2s ease 1s 1 normal;
    -moz-animation:rotate 2s ease 1s 1 normal;
    -ms-animation:rotate 2s ease 1s 1 normal;
    animation:rotate 2s ease 1s 1 normal;
    }
    
    @-webkit-keyframes rotate {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
    }
    @keyframes rotate {
    100%{ transform: rotate(360deg); }
    }




.circle {
    border-radius: 999px;
    position: absolute;
    left: -250px;
    top: -250px;
    width: 500px;
    height: 500px;
    z-index: -1;
    background: radial-gradient(#ffffff, #292929);
}

.gradient-animation {
    height: 100vh;
    background: linear-gradient(339deg, #1a1a1a, #3d3d3d);
    background-size: 400% 400%;

    animation: AnimationName 7s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:23% 0%}
    50%{background-position:78% 100%}
    100%{background-position:23% 0%}
}


.Buttons {
	box-shadow: 0px 10px 14px -7px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:14px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.Buttons:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.Buttons:active {
	position:relative;
	top:1px;
}
